@model MvcTicariOtomasyon.Models.Sınıflar.Kategori
@{
    ViewBag.Title = "kategoriGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2> Kategori Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("kategoriGuncelle", "Kategori", FormMethod.Post))
{
    <div class="form form-group">
        @Html.LabelFor(x => x.kategoriAd)
        @Html.TextBoxFor(x => x.kategoriAd, new { @class = "form form-control" })
        @Html.HiddenFor(x => x.kategoriID)
        <br />
        <button class="btn btn-warning">Güncelle</button>

    </div>


}


