@model MvcTicariOtomasyon.Models.Sınıflar.Kategori
@{
    ViewBag.Title = "kategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Kategori Ekleme Sayfası</h2>
<br />

<form class="form-group" method="post">
    @Html.LabelFor(x => x.kategoriAd)
    @Html.TextBoxFor(x => x.kategoriAd, new { @class = "form form-control" })

    <br />
    <button class="btn btn-primary">Kategori Ekle</button>  
</form>

