@using MvcTicariOtomasyon.Models.Sınıflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Personel Listesi</h2>
<br />
<a href="/Personel/personelEkle/" class="btn btn-primary" style="margin-bottom:20px;">Yeni Personel Ekle</a>

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>Adı Soyadı</th>
            <th>Deparman Adı</th>
            <th>Görsel</th>
            <th>Güncelle</th>
            <th>Satışlar</th>
        </tr>
    </thead>

    @foreach (var prsnl in Model)
    {
        <tr>
            <td>@prsnl.personelAd @prsnl.personelSoyad</td>
            <td> <img src="@prsnl.personelGorsel" style="width:50px; height:50px;" /> </td>
            <td>@prsnl.Departman.departmanAd</td>
            @*<td> <a href="/Personel/personelSil/@prsnl.personelID" class="btn btn-danger">Sil</a> </td>*@
            <td> <a href="/Personel/personelGetir/@prsnl.personelID" class="btn btn-success">Güncelle</a></td>
            <td> <a href="/Personel/personelSatıs/@prsnl.personelID" class="btn btn-warning">Satışlar</a></td>
        </tr>
    }

</table>

